<div class="main_container">
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a asp-controller="Home" asp-action="Index" class="site_title"><i class="fa fa-leaf"></i> <span>Plant Camera</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
            <img src="~/images/user.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
            <span>欢迎您，</span>
            <h2>@ViewData["UserName"]</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
            <h3>主要功能</h3>
            <ul class="nav side-menu">
                <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-desktop"></i> 主页 </a>
                </li>
                <li><a><i class="fa fa-camera"></i> 相册管理 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Camera" asp-action="Album">我的相册</a></li>
                    <li><a asp-controller="Camera" asp-action="Upload">图片上传</a></li>
                </ul>
                </li>
                <li><a><i class="fa fa-map"></i> 地图显示 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Map" asp-action="MyPhotoMap">个人足迹</a></li>
                    <li><a asp-controller="Map" asp-action="PlantMap">植物地图</a></li>
                    <li><a asp-controller="Map" asp-action="PlantSearch">植物检索</a></li>
                </ul>
                </li>
                <li><a><i class="fa fa-bar-chart-o"></i> 分析专题 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Analysis" asp-action="Topic">分析专题</a></li>
                    <li><a asp-controller="Analysis" asp-action="PointsMap">观测站点</a></li>
                    <li><a asp-controller="Analysis" asp-action="stationsAnalysis">站点分析</a></li>
                </ul>
                </li>
                <li><a><i class="fa fa-cogs"></i> 个人设置 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Manage" asp-action="ChangePassword">修改密码</a></li>
                    <li><a asp-controller="Manage" asp-action="ChangeProfile">修改头像</a></li>
                    <li><a asp-controller="Manage" asp-action="ConfirmEmail">邮箱绑定</a></li>
                </ul>
                </li>
            </ul>
            </div>
            <div class="menu_section">
            <h3>其他</h3>
            <ul class="nav side-menu">
                <li class="active"><a><i class="fa fa-bug"></i> 开发者 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Developer" asp-action="Contact">联系我们</a></li>
                </ul>
                </li> 
                <li class="active"><a><i class="fa fa-tasks"></i> 高级功能 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Developer" asp-action="DataReview">数据审查</a></li>
                    <li><a asp-controller="Developer" asp-action="UsersManage">用户管理</a></li>
                    <li><a asp-controller="Developer" asp-action="DataOutput">数据导出</a></li>
                </ul>
                </li>             
                <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> 拓展功能 <span class="label label-success pull-right">建设中</span></a></li>
            </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="注销" asp-controller="Account" asp-action="Login">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
        </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu">
            <nav>
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/user.png" alt="">@ViewData["UserName"]
                        <span class="fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li>
                            <a href="javascript:;">
                            <span class="badge bg-red pull-right">50%</span>
                            <span>帮助</span>
                            </a>
                        </li>
                        <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-sign-out pull-right"></i>注销</a></li>
                        </ul>
                    </li>

                    <li role="presentation" class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-green">1</span>
                        </a>
                        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        <li>
                            <a>
                            <span class="image"><img src="~/images/user.png" alt="Profile Image" /></span>
                            <span>
                                <span>管理员</span>
                                <span class="time">3分钟前</span>
                            </span>
                            <span class="message">
                                您有新的消息，请及时查看
                            </span>
                            </a>
                        </li>
                        <li>
                            <div class="text-center">
                            <a>
                                <strong>查看所有消息</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                            </div>
                        </li>
                        </ul>
                    </li>
                    <li style="padding-top:14px;">
                        <div id="tp-weather-widget" style="margin-right:10px;"></div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>用户详情 <small>（近1月内不合格数据超过3条）</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                            <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title">用户ID </th>
                                        <th class="column-title">申请时间 </th>
                                        <th class="column-title">用户名 </th>
                                        <th class="column-title">不合格图片数 </th>
                                        <th class="column-title">其他描述 </th>
                                        <th class="column-title no-link last"><span class="nobr">封禁</span>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="even pointer">
                                        <td class="a-center">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">8b7e73a3ef61</td>
                                        <td class=" ">2018/02/03 10:11:21 </td>
                                        <td class=" ">test1</td>
                                        <td class="a-center">19</td>
                                        <td class="a-center">无</td>
                                        <td class="last dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span id="icon" class="glyphicon glyphicon-lock" style="color:#E74C3C;"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">封禁1天</a>
                                                </li>
                                                <li><a href="#">封禁3天</a>
                                                </li>
                                                <li><a href="#">封禁7天</a>
                                                </li>
                                                <li><a href="#">封禁15天</a>
                                                </li>
                                                <li><a href="#">封禁30天</a>
                                                </li>
                                                <li><a href="#">永久封停</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr class="odd pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">de876ew3cr4h</td>
                                        <td class=" ">2018/02/05 20:46:22 </td>
                                        <td class=" ">test2</td>
                                        <td class="a-center">16</td>
                                        <td class="a-center">无</td>
                                        <td class="last dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span id="icon" class="glyphicon glyphicon-lock" style="color:#E74C3C;"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">封禁1天</a>
                                                </li>
                                                <li><a href="#">封禁3天</a>
                                                </li>
                                                <li><a href="#">封禁7天</a>
                                                </li>
                                                <li><a href="#">封禁15天</a>
                                                </li>
                                                <li><a href="#">封禁30天</a>
                                                </li>
                                                <li><a href="#">永久封停</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr class="even pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">dfe73ndh72s5</td>
                                        <td class=" ">2018/02/04 13:15:42 </td>
                                        <td class=" ">test3</td>
                                        <td class="a-center">10</td>
                                        <td class="a-center">无</td>
                                        <td class="last dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span id="icon" class="glyphicon glyphicon-lock" style="color:#E74C3C;"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">封禁1天</a>
                                                </li>
                                                <li><a href="#">封禁3天</a>
                                                </li>
                                                <li><a href="#">封禁7天</a>
                                                </li>
                                                <li><a href="#">封禁15天</a>
                                                </li>
                                                <li><a href="#">封禁30天</a>
                                                </li>
                                                <li><a href="#">永久封停</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr class="odd pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">dhy2us8cy7sq</td>
                                        <td class=" ">2018/02/04 13:16:02 </td>
                                        <td class=" ">test4</td>
                                        <td class="a-center">10</td>
                                        <td class="a-center">无</td>
                                        <td class="last dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span id="icon" class="glyphicon glyphicon-lock" style="color:#E74C3C;"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">封禁1天</a>
                                                </li>
                                                <li><a href="#">封禁3天</a>
                                                </li>
                                                <li><a href="#">封禁7天</a>
                                                </li>
                                                <li><a href="#">封禁15天</a>
                                                </li>
                                                <li><a href="#">封禁30天</a>
                                                </li>
                                                <li><a href="#">永久封停</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr class="even pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">x8s9c8dhn2sw</td>
                                        <td class=" ">2018/02/04 13:16:47 </td>
                                        <td class=" ">test5</td>
                                        <td class="a-center">9</td>
                                        <td class="a-center">无</td>
                                        <td class="last dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span id="icon" class="glyphicon glyphicon-lock" style="color:#E74C3C;"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">封禁1天</a>
                                                </li>
                                                <li><a href="#">封禁3天</a>
                                                </li>
                                                <li><a href="#">封禁7天</a>
                                                </li>
                                                <li><a href="#">封禁15天</a>
                                                </li>
                                                <li><a href="#">封禁30天</a>
                                                </li>
                                                <li><a href="#">永久封停</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr class="odd pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">cdei87c6s5f56</td>
                                        <td class=" ">2018/02/04 13:17:31 </td>
                                        <td class=" ">test6</td>
                                        <td class="a-center">8</td>
                                        <td class="a-center">无</td>
                                        <td class="last dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span id="icon" class="glyphicon glyphicon-lock" style="color:#E74C3C;"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">封禁1天</a>
                                                </li>
                                                <li><a href="#">封禁3天</a>
                                                </li>
                                                <li><a href="#">封禁7天</a>
                                                </li>
                                                <li><a href="#">封禁15天</a>
                                                </li>
                                                <li><a href="#">封禁30天</a>
                                                </li>
                                                <li><a href="#">永久封停</a>
                                                </li>
                                            </ul>
                                        </td>
                                    <tr class="even pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">36nu8dn3d9s1</td>
                                        <td class=" ">2018/02/04 13:20:33 </td>
                                        <td class=" ">test7</td>
                                        <td class="a-center">6</td>
                                        <td class="a-center">无</td>
                                        <td class="last dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span id="icon" class="glyphicon glyphicon-lock" style="color:#E74C3C;"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">封禁1天</a>
                                                </li>
                                                <li><a href="#">封禁3天</a>
                                                </li>
                                                <li><a href="#">封禁7天</a>
                                                </li>
                                                <li><a href="#">封禁15天</a>
                                                </li>
                                                <li><a href="#">封禁30天</a>
                                                </li>
                                                <li><a href="#">永久封停</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>已封禁</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>用户ID</th>
                                    <th>用户名</th>
                                    <th>封禁时间</th>
                                    <th>封禁级别</th>
                                    <th>剩余时间</th>
                                    <th>解封</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">7d8eju34d82h</th>
                                    <td>testa</td>
                                    <td>2018/02/01 09:17:25 </td>
                                    <td>封禁7天</td>
                                    <td>1天</td>
                                    <td><span id="icon" class="glyphicon glyphicon-ok"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">4hue2ndik48c</th>
                                    <td>testb</td>
                                    <td>2018/02/01 09:20:11 </td>
                                    <td>封禁15天</td>
                                    <td>9天</td>
                                    <td><span id="icon" class="glyphicon glyphicon-ok"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">9cduw3c78fn4</th>
                                    <td>testc</td>
                                    <td>2018/02/01 09:21:24 </td>
                                    <td>封禁15天</td>
                                    <td>9天</td>
                                    <td><span id="icon" class="glyphicon glyphicon-ok"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>   
        </div>
    </div>
    <!-- /page content -->

    <!-- footer content -->
    <footer class="navbar-fixed-bottom">
        <div class="pull-right">
        plantCamera - OUC MIT Lab</a>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
</div>